


<nav>
    <div class="site-title">
        <a href="/home" id="user"><h1>User RentingCOMPANY.rw</h1></a>
        <p id="RentingHouse">A Renting House Site</p>
    </div>
    <ul>
        <li><a href="/home" class="navigating">Home</a></li>
        <li><a href="/about" class="navigating">About Us</a></li>
        <li><a href="/create" class="navigating">Add New User</a></li>
        <li><a href="/logIn" class="navigating">Log In Page</a></li>
        <li><a href="/details" class="navigating">Details Page</a></li>
    </ul>
</nav>