
    

<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="users content">
         <h2>About Us</h2>
         <p>The User on this application with all credentials is allowed to provide comments,
             suggestions and even take a part in our activities such as those of involving 
             in the house advertisement projects. </p>

            <p>The more the participation of this user the start of being asked to create the 
               bank account to acquire our most favorite rewards because of concerning our 
               activities like his/hers but also they are different tours arranged every 2 years 
               for those who used to participate more than others in our bussiness of renting houses.</p>

            <p>For those who have not yet registered on our website, here is the link to 
                use <a href="/views/logIn.ejs">Log In</a>. As a remindation the number of user expected to use our free mode is not yet 
                over and i would like to remind those who have not yet signed in can do so because after the 
                intended number other will be charged some amount of money.</p>
    </div>
   <br><br> <%- include('../partials/footer.ejs') %>
</body>
</html>